<!-- header.component.html -->
<header class="header">
  <div class="container-header">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
            <img src="../../../assets/Logo-Login.png" alt="Logo" class="logo">
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- login.component.html -->
<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card login-card mt-5">
          <div class="card-body">
            <h2 class="card-title text-center">Inicio de sesión</h2>
            <form>
              <div class="form-group">
                <label for="email"><i class="fas fa-envelope"></i> Correo electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Contraseña">
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-sign-in-alt"></i> Iniciar</button>
              </div>
            </form>
            <div class="text-center mt-3">
              <a href="#" class="link"><i class="fas fa-question-circle"></i> ¿Olvidaste tu contraseña?</a>
            </div>
            <div class="text-center mt-3">
              ¿No tienes una cuenta? <a routerLink="/register" class="link"><i class="fas fa-user-plus"></i> Regístrate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
