<footer class="text-white mt-5">
  <div class="container">
    <div class="row py-4">
      <!-- Sección de Información de la Empresa -->
      <div class="col-md-4">
        <h5>Sobre Nosotros</h5>
        <p class="small">
          Somos una empresa dedicada a ofrecer vuelos de calidad a bajo costo.
        </p>
      </div>
      <!-- Sección de Enlaces Útiles -->
      <div class="col-md-4">
        <h5>Enlaces Útiles</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Inicio</a></li>
          <li><a href="#" class="text-white">Servicios</a></li>
          <li><a href="#" class="text-white">Contacto</a></li>
          <li><a href="#" class="text-white">Acerca de</a></li>
        </ul>
      </div>
      <!-- Sección de Contacto -->
      <div class="col-md-4">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-map-marker-alt"></i> Dirección: Calle 123, Ciudad,
            País
          </li>
          <li><i class="fas fa-phone"></i> Teléfono: +123 456 7890</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center py-3 derechos">
    <small>&copy; 2024 IRAERO. Todos los derechos reservados.</small>
  </div>
</footer>
