
.center-flex {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  margin-bottom: 0; /* Reducir el espacio entre el toolbar y el contenido */
}
mat-toolbar-row{
  height: 10vh;
}
.list-icon{
  height: 7vh; /* La imagen ocupa el 70% de la pantalla */
}
.image-container {
  position: relative;
  background-image: url('../../../assets/jumbo-jet-volando-cielo.jpg');
  background-size: cover;
  background-position: center;
  width: 80%; /* La imagen ocupa el 70% de la pantalla */
  height: 100vh; /* La imagen ocupa el 70% de la pantalla */
  min-height: 300px; /* Tamaño mínimo para garantizar que la imagen sea visible */
  z-index: 0;
}

.content {
  display: flex;
  align-items: flex-start; /* Alinea el contenido al principio */
  padding: 0 20px; /* Añade un poco de espacio alrededor del contenido */
  
}

.overlay-content {
  position: absolute; /* Cambiamos a posición absoluta */
  top: 50%; /* Alineamos al 50% del contenedor padre */
  left: 20px; /* Lo movemos un poco a la izquierda para evitar superposición con el toolbar */
  transform: translateY(-50%); /* Lo centramos verticalmente */
  text-align: left;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los cuadros a la izquierda */
  margin-top: 20px; /* Espacio entre la información y los cuadros */
  max-width: 70%; /* Limita la anchura de los cuadros al 70% de la pantalla */
}

.box {
  width: 100%; /* Los cuadros ocupan todo el ancho disponible */
  background-color: rgba(240, 240, 240, 0.5);
  margin-bottom: 10px; /* Espacio entre los cuadros */
}

.info-box {
  position: absolute;
  top: 15vh;
  right: 15vh;
  background-color: #f1f1f1;
  padding: 1vh;
  width: 60vh;
  z-index: 2;
  text-align: center;
  border-radius: 2vh;
  border: 1vh solid rgba(160, 160, 160, 0.3); 
}

.info-box h2,
.info-box p {
  margin: 2vh;
}

/* Estilos para la otra información ("Nunca es tarde para viajar") */
.overlay-content h1,
.overlay-content h2 {
  text-align: left;
}
.aeropuerto-salida{
  color: black;
  font-size: 2vh;
  
}
.aeropuerto-llegada{
  color: black;
  font-size: 2vh;
}
.pais-aeropuerto{
  color: red;
  font-size: 3vh;
}
.name-aeropuerto{
color: gray;
font-size: 1vh;
}
.mat-button{
color: red;
}
.boton-buscar-vuelo {
  background-color: rgb(182, 1, 1);
  border-radius: 1vh;
}
.boton-buscar-vuelo button{
  color: white;
}
.form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.container-footer {
  background-color: #f1f1f1; /* Cambia este color al que prefieras */
}
