<!-- header.component.html -->
<header class="header">
  <div class="container-header">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
            <img src="../../../assets/Logo-Login.png" alt="Logo" class="logo">
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="content-wrapper">
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Olvidé mi Contraseña</h2>
            <form>
              <div class="form-group">
                <label for="email"><i class="fas fa-envelope"></i> Correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="nombre@dominio.com">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Enviar Correo de Restablecimiento</button>
            </form>
            <p class="text-center mt-3">
              <a routerLink="/login">Volver al Inicio de Sesión</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>