/* header.component.css */
.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container-header {
    display: flex;
    justify-content: center;
  }
  
  .navbar-brand img.logo {
    max-height: 50px; /* Ajusta este valor según sea necesario */
    width: auto;
  }
  
  /*recuperar-contraseña.component.css*/

 .content-wrapper {
    position: relative;
    min-height: 100vh; /* Asegura que el div cubra toda la altura de la página */
    padding-top: 56px; /* Ajusta este valor si tu header tiene un tamaño diferente */
  }
  .content-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/jumbo-jet-volando-cielo.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.5; /* Ajusta la opacidad según sea necesario */
    z-index: 0; /* Asegura que la imagen de fondo esté detrás del contenido */
  }
  .card{
      border-radius: 24px;
  }
  .btn-block {
    width: 80%;
    height: 3rem;
    font-size: 1.2rem;
    margin: 1rem auto 0;
    display: block;
  }
