<div>
    <div>
        <h2 style="margin-top: 8vh;">Ofertas especiales</h2>
        <p class="titulo-ofertas"></p>
    </div>
  <!-- Tarjeta grande -->
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card">
        <img
          src="../../../assets/belice.jpg"
          class="card-img-top"
          alt="Belice"
        />
        <div class="card-body">
          <h5 class="card-title">Belice</h5>
          <p class="card-text">
            Los cayos son islas pequeñas que se forman sobre la superficie de
            colares. Son ecosistemas delicados; pero bellos. Al estar rodeados
            de coral sus aguas son poco profundas y muy coloridas. Belice es una
            joya para los submarinistas. La isla más grande de Belice es el Cayo
            Ambergris. La meca del submarinismo es un pozo de agua en piedra
            caliza de más de 120 metros de profundidad, el famoso Blue Hole.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Tres tarjetas pequeñas en una fila horizontal -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col mb-4">
      <div class="card h-100">
        <img
          src="../../../assets/bali-indonesia.jpg"
          class="card-img-top"
          alt="Bali, Indonesia"
        />
        <div class="card-body">
          <h5 class="card-title">Bali</h5>
          <p class="card-text">
            La isla de Bali, en Indonesia, es la número uno. ¿Por qué será? Es
            posible que sean las playas de arena blanca como Lovina Beach, el
            verde intenso de sus selvas en el Parque Nacional de Bali
            Occidental, los antiguos templos (más de 10.000) o los diferentes
            senderos para hacer excursionismo. Alquila una moto para moverte por
            la isla: no dejes de ir al templo Tanah Lot para ver atardecer,
            piérdete por los arrozales de Jatiluwih o en Tegalalang, escoge
            playa o lago, visita algún volcán o, incluso, aprovecha para casarte
            ¡Bali es la isla de los dioses!
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img
          src="../../../assets/jamaica.jpg"
          class="card-img-top"
          alt="Jamaica"
        />
        <div class="card-body">
          <h5 class="card-title">Jamaica</h5>
          <p class="card-text">
            En el Caribe más turquesa encontramos Jamaica, crisol de culturas
            procedentes del África, Asia y Europa. Si pensáramos los destinos en
            clave musical, con esta isla no hay confusión: suena a reggae y Bob
            Marley fue su icono. Jamaica es una superficie montañosa rodeada por
            playas bañadas por el mar Caribe. Un escenario de ensueño que
            recorrer con lugares como el famoso acantilado de Negril Cliffs.
            
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img
          src="../../../assets/phuket_tailandiajpg.jpg"
          class="card-img-top"
          alt="Phuket, Tailandia"
        />
        <div class="card-body">
          <h5 class="card-title">Phuket</h5>
          <p class="card-text">
            Muchos viajeros coinciden: Tailandia es el mejor destino para
            comenzar a conocer Asia. Entonces, Phuket es el principio. La isla
            más grande de Tailandia tiene playas de ensueño como las de Patong y
            Karon Beach, siempre muy visitadas, o las más aisladas como Surin
            Beach. En la zona de Chalong y Kata, está el símbolo principal de la
            isla, un Gran Buda blanco de 25 metros de altura que nos da unas
            vistas asombrosas de Phuket. Otro entretenimiento es pasearse por el
            animado centro histórico de la ciudad como contraste a las aguas
            color esmeralda que rodean a la isla.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
