<app-header></app-header>

<div class="content">
    <div class="container mt-4">
        <h1>Lista de Vuelos</h1>
        <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let vuelo of vuelos">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ vuelo.origen }} - {{ vuelo.destino }}</h5>
                        <p class="card-text">Fecha: {{ vuelo.fecha }}</p>
                        <p class="card-text">Precio: {{ vuelo.precio }}</p>
                        <button class="btn btn-primary btn-gradient">Reservar <i class="fas fa-ticket-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
