<app-g-header></app-g-header>
<div class="container mt-5">
  <div class="col-12">
    <h1 class="text-center mb-4">Gestión de Hoteles</h1>
  </div>
  <div class="card">
    <div class="card-header">
      <h5>Lista de hoteles</h5>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addHotelModal">
        Agregar hotel
      </button>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Categoria</th>
            <th>Imagen</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="hotel.length > 0; else noHotel">
            <ng-container *ngFor="let hospedaje of hotel">
              <tr>
                <td>{{ hospedaje.nombre }}</td>
                <td>{{ hospedaje.direccion }}</td>
                <td>{{ hospedaje.categoria }}</td>
                <td>
                  <img [src]="hospedaje.imagen" alt="{{ hospedaje.nombre }}" width="100">
                </td>
                <td>
                  <button class="btn btn-warning btn-sm" (click)="editHospedaje(hospedaje)">
                    <i class="fas fa-edit"></i> Editar
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="deleteHospedaje(hospedaje.id)">
                    <i class="fas fa-trash"></i> Eliminar
                  </button>
                  <button class="btn btn-info btn-sm" (click)="toggleHabitaciones(hospedaje)">
                    <i class="fas fa-bed"></i> Habitaciones
                  </button>
                </td>
              </tr>
              <tr *ngIf="habitacionesPorHotel[hospedaje.id]">
                <td colspan="5">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Tipo de Habitación</th>
                        <th>Cantidad de Camas</th>
                        <th>Cantidad de Personas</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let habitacion of habitacionesPorHotel[hospedaje.id]">
                        <td>{{ habitacion.tipo_habitacion }}</td>
                        <td>{{ habitacion.cantidad_camas }}</td>
                        <td>{{ habitacion.cantidad_personas }}</td>
                        <td>{{ habitacion.precio }}</td>
                        <td>
                          <img [src]="habitacion.imagen" alt="{{ habitacion.tipo_habitacion }}" width="100">
                        </td>
                        <td>
                          <button class="btn btn-warning btn-sm" (click)="editHospedaje(hospedaje)">
                            <i class="fas fa-edit"></i> Editar
                          </button>
                          <button class="btn btn-danger btn-sm" (click)="deleteHospedaje(hospedaje.id)">
                            <i class="fas fa-trash"></i> Eliminar
                          </button>
                          <button class="btn btn-info btn-sm" (click)="toggleHabitaciones(hospedaje)">
                            <i class="fas fa-bed"></i> Habitaciones
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <ng-template #noHotel>
            <tr>
              <td colspan="6" class="text-center">No se encontraron hoteles activos</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
