<app-g-header/>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card shadow card-custom">
        <img src="../../../assets/g-users.jpg" class="card-img-top img-custom" alt="Imagen de usuarios">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fas fa-users text-primary me-2" aria-hidden="true"></i>
            <span class="sr-only">Icono de usuarios</span>
            Usuarios
          </h5>
          <p class="card-text">Gestión de usuarios.</p>
          <a href="/g-user" class="btn btn-gradient" aria-label="Ver detalles de gestión de usuarios">Ver detalles</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card shadow card-custom">
        <img src="../../../assets/g-hospedaje.avif" class="card-img-top img-custom" alt="Imagen de hospedaje">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fas fa-hotel text-primary me-2" aria-hidden="true"></i>
            <span class="sr-only">Icono de hotel</span>
            Hospedaje
          </h5>
          <p class="card-text">Gestión de hospedajes.</p>
          <a href="/g-hospedaje" class="btn btn-gradient" aria-label="Ver detalles de gestión de hospedajes">Ver detalles</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card shadow card-custom">
        <img src="../../../assets/g-vuelos.avif" class="card-img-top img-custom" alt="Imagen de vuelos">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fas fa-plane-departure text-primary me-2" aria-hidden="true"></i>
            <span class="sr-only">Icono de avión</span>
            Vuelos
          </h5>
          <p class="card-text">Gestión de vuelos.</p>
          <a href="/g-vuelos" class="btn btn-gradient" aria-label="Ver detalles de gestión de vuelos">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>