<div>
  <app-header></app-header>
</div>
<div class="content">
<div class="container mt-4">
  <h4>Resultados de búsqueda para "{{ query }}"</h4>

  <div *ngIf="hotelResults.length > 0; else noResults">
    <div class="row">
      <div class="col-md-4" *ngFor="let hotel of hotelResults">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.nombre }}</h5>
            <p class="card-text">{{ hotel.direccion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noResults>
    <p>No se encontraron resultados.</p>
  </ng-template>
</div>
</div>
<app-footer></app-footer>
